.alert-info {
    margin-top: -19px;
    color: #c8c8c8;
    font-size: 22pt;
}

.login-box .btn {
    margin-top: -414px;
    width: 240px;
    padding: 15px 0 15px 0;
    color: white;
    font-size: 20pt;
}

.row {
    margin-top: -15px;
}

.login-box .btn {
    background: #164198;
    border: 4px solid #0A2C70;
}

.contact_form li {
    list-style-type: none;
}

element.style {
}
img {
visibility: hidden;
}
