#head
{
 font-size:20px;
}
input [type=button]
{
    background-color: #444447;
    border:1px solid black;

}
.top-but
{
    position:relative;
   float:right;
    color:inherit;
    font-family:inherit;
    padding:5px;
    background: #46f7f9;
    border-radius: 4px;
    border:2px solid rgb(189, 180, 180);
    width:120px;
    height:35px;
}
html {
    display: block;
}
head {
    display: none;
    font-size: 20px;
}
body {
    padding-bottom: 40px;
    background-color: #f5f5f5;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 9px;
    color: #333;
    display: block;
}
.container-fluid:before, .container-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}
.container-fluid:after {
    clear: both;
}
.container-fluid:before, .container-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}

.span9 {
    width: 100%;
}
[class*="span"] {
    float: left;
    min-height: 1px;
}
div {
    display: block;
}
.row-fluid {
    width: 100%;
}
.row-fluid:after {
    clear: both;
}
 .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}
    .row-fluid:after {
        clear: both;
    }

        .row-fluid:before, .row-fluid:after {
            display: table;
            line-height: 0;
            content: "";
        }
        .block {
            border: 1px solid #ccc;
            background: white;

            border-top: none;
        }
        .block-header {

            border-right: none;
            border-left: none;

        }
        .navbar-inner {
            min-height: 40px;
            padding-right: 20px;
            padding-left: 20px;
            background-color: #fafafa;
            background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
            background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
            background-image: -o-linear-gradient(top,#fff,#f2f2f2);
            background-image: linear-gradient(to bottom,#fff,#f2f2f2);
            background-repeat: repeat-x;
            border: 1px solid #1F1D1D;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
            -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
            -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
            box-shadow: 0 1px 4px rgba(0,0,0,0.065);
        }
        .block {
            border: 1px solid #ccc;
            background: white;
            margin: 1em;
            border-top: none;
        }
        .navbar {
            overflow: visible;
        }
         .navbar-inner:after {
            display: table;
            line-height: 0;
            content: "";
        }
        .navbar-inner:after {
            clear: both;
        }
        .navbar-inner:before, .navbar-inner:after {
            display: table;
            line-height: 0;
            content: "";
        }
	.block-header
	{
	padding-top: 10px;
	}
.pull-left {
float: left;
}

.muted {
color: #999;
}


        p {
            margin: 0 0 10px;
        }
        p{
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }
        .collapse.in {
            height: auto;
        }
        .block-content {
            margin: 1em;
            min-height: .25em;
        }
        .collapse {
            position: relative;
            height: 0;
            overflow: hidden;
            -webkit-transition: height .35s ease;
            -moz-transition: height .35s ease;
            -o-transition: height .35s ease;
            transition: height .35s ease;
        }
        .collapse.in {
            height: auto;
            background:#353a41;
        }
        .block-content {
            margin: 1em;
            min-height: .25em;
        }
        .collapse {
            position: relative;
            height: 0;
            overflow: hidden;
            -webkit-transition: height .35s ease;
            -moz-transition: height .35s ease;
            -o-transition: height .35s ease;
            transition: height .35s ease;
        }

            .row-fluid [class*="span"]:first-child {
                margin-left: 0;
            }
                .row-fluid .span12 {
                    width: 100%;
                }
.dataTables_wrapper .row {
}

.row-fluid [class*="span"]:first-child {
margin-left: 0;
}
.row-fluid .span6 {
width: 48.93617021276595%;
}
div.dataTables_length label {
float: left;
text-align: left;
}
                    .row-fluid [class*="span"] {
                        display: block;
                        float: left;
                        width: 100%;
                        min-height: 30px;
                        margin-left: 2.564102564102564%;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                    .row-fluid [class*="span"] {
                        display: block;
                        float: left;
                        width: 100%;
                        min-height: 30px;
                        margin-left: 2.127659574468085%;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
label
{cursor:pointer;
margin-bottom: 5px;
font-size: 14px;
font-weight: normal;
line-height: 20px;
}
.form-inline label{display:inline-block;}
div.dataTables_length select {
width: 75px;
}
.form-inline select{display: inline-block;
margin-bottom: 0;
vertical-align: middle;
}
select[size] {
    height: auto;
}
select {
width: 220px;
background-color: #fff;
border: 1px solid #ccc;
}
select {
height: 30px;
line-height: 30px;
}
select{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
-webkit-writing-mode: horizontal-tb;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-shadow: none;
display: inline-block;
text-align: start;
-webkit-appearance: menulist;
box-sizing: border-box;
align-items: center;
white-space: pre;
border: 1px solid;
cursor: pointer;
-webkit-rtl-ordering: logical;




}
option {

display: block;
padding: 0px 2px 1px;
white-space: pre;
min-height: 1.2em;
}
option {
font-weight: normal;
display: block;
padding: 0px 2px 1px;
white-space: pre;
min-height: 1.2em;
}


                    label, input, button, select, textarea {
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 20px;
                    }
                    input[type="button" ], input[type="submit" ], input[type="reset" ], input[type="file" ]::-webkit-file-upload-button, button {
                                                                                                                   padding: 1px 6px;
                                                                                                               }
                    input[type="button" ], input[type="submit" ], input[type="reset" ], input[type="file" ],
 button {
                                                                                                                
 align-items: flex-start;
        
                                                                                                                   text-align: center;
                                                                                                                   cursor: default;
                                                                                                                   color: buttontext;
                                                                                                                   padding: 2px 6px 3px;
                                                                                                                   border: 2px outset buttonface;
                                                                                                                   border-image-source: initial;
                                                                                                                   border-image-slice: initial;
                                                                                                                   border-image-repeat: initial;
                                                                                                                   background-color: buttonface;
                                                                                                                   box-sizing: border-box;                                                                                                       }
                    input[type="button" ], input[type="submit" ], input[type="reset" ] {
                    -webkit-appearance: push-button;
                    -webkit-user-select: none;
                    white-space: pre;
                }
                    input, input[type="password" ], input[type="search" ] {
                    -webkit-appearance: textfield;
                    padding: 1px;
                    background-color: white;
                    border: 2px inset;
                    border-image-source: initial;
                    border-image-slice: initial;

                    border-image-repeat: initial;
                    -webkit-rtl-ordering: logical;
                    -webkit-user-select: text;
                    cursor: auto;
                }
                    input, textarea, keygen, select, button {
                        margin: 0em;
                        font: normal normal normal 13.3333330154419px/normal Arial;
                        text-rendering: auto;
                        color: initial;
                        letter-spacing: normal;
                        word-spacing: normal;
                        text-transform: none;
                        text-indent: 0px;
                        text-shadow: none;
                        display: inline-block;
                        text-align: start;
                    }
                     textarea, keygen, select, button, meter, progress {
                        -webkit-writing-mode: horizontal-tb;
                    }
                    .dataTables_wrapper .row {
                        margin-left: 0px;
                    }
                    .row:before, .row:after {
                        display: table;
                        line-height: 0;
                        content: "";
                    }
                    .row-fluid [class*="span"]:first-child {
                        margin-left: 0;
                    }
                    .row-fluid [class*="span"] {
                        display: block;
                        float: left;
                        width: 100%;
                        min-height: 30px;
                        margin-left: 2.564102564102564%;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                    label, input, button, select, textarea {
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 20px;
                    }


input{width:206px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
margin-left: 0;
-webkit-appearance: textfield;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}
div.dataTables_filter label {
float: right;
visibility: collapse;
}

input[type="text"]{
height: 20px;
padding: 4px 6px;
font-size: 14px;
line-height: 20px;
color: #555;
border-radius: 4px;
    border: greenyellow;
    background:#1c1e22;
visibility: collapse;
}

.form-inline input{display: inline-block;
margin-bottom: 0;
vertical-align: middle;
}
.dataTables_wrapper .row {
margin-left: 0px;
    background:#353a41;
}

                    div.dataTables_length label {
                        float: left;
                        text-align: left;
                    }
                    label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
                        display: inline-block;
                    }
                    label {
                        margin-bottom: 5px;
                    }
                    label {
                        cursor: default;
                    }
                    div.dataTables_length select {
                        width: 75px;
                    }
                   select{
                        display: inline-block;
                        margin-bottom: 0;
                        vertical-align: middle;
                    }
                    select[multiple], select[size] {
                        height: auto;
                    }
                    select {
                        background-color: #fff;
                        border: 1px solid #ccc;
                    }
                    select, input[type="file"] {
                        line-height: 30px;
                    }
                    select{
                        padding: 4px 6px;
                        font-size: 14px;
                        color: #555;
                        border-radius: 4px;
                        background-color: #353a41;
                        border: 1px solid #090808;
                    }
                    input, button, select, textarea {
                        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    }
                    label, input, button, select, textarea {
                        font-weight: normal;
                    }
                    select {
                        -webkit-appearance: menulist;
                        box-sizing: border-box;
                        align-items: center;
                        white-space: pre;
                        -webkit-rtl-ordering: logical;
                        cursor: default;
                    }
                    input, textarea, keygen, select, button {
                        font: normal normal normal 13.3333330154419px/normal Arial;
                        text-rendering: auto;
                        letter-spacing: normal;
                        word-spacing: normal;
                        text-transform: none;
                        text-shadow: none;
                        text-align: start;
                    }
                    select{-webkit-writing-mode: horizontal-tb;}
                    .form-inline label{display: inline-block;}
                    label{margin-bottom: 5px;}
                    label{
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 20px;
                    }
                    div.dataTables_length label {
                        float: left;
                        text-align: left;
                    }
                    .row-fluid [class*="span"]:first-child {
                        margin-left: 0;
                    }
                    .row-fluid [class*="span"]:first-child {
                    }
                    .row-fluid [class*="span"] {
                        display: block;
                        float: left;
                        width: 100%;
                        min-height: 30px;
                        box-sizing: border-box;
                    }
                    table.table {
                        clear: both;
                        margin-bottom: 6px !important;
                        max-width: none !important;
                    }
                    .table-bordered {
                        border: 1px solid #ddd;
                        border-collapse: separate;
                        border-left: 0;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                    }
                    table {
                        width: 100%;
                    }
                    table {
                        background-color: transparent;
                        border-spacing: 0;
                    }
                    .table-bordered {
                        border: 1px solid #ddd;
                        border-collapse: separate;
                        border-left: 0;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                    }
                    table {
                        display: table;
                        border-collapse: separate;
                        border-spacing: 1px;
                        border-color: gray;
                    }
                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;
                    }
                     thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
                        -webkit-border-top-left-radius: 4px;
                        border-top-left-radius: 4px;
                        -moz-border-radius-topleft: 4px;
                    }
                    .table-bordered caption+thead tr:first-child th, .table-bordered caption+tbody tr:first-child th, .table-bordered caption+tbody tr:first-child td, .table-bordered colgroup+thead tr:first-child th, .table-bordered colgroup+tbody tr:first-child th, .table-bordered colgroup+tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td
                    {border-top: 0;
                    }
                    table.table thead .sorting_asc {
                        background: url('sort_asc.png') no-repeat center right;
                    }
                    table.table thead .sorting, table.table thead .sorting_asc, table.table thead .sorting_desc, table.table thead .sorting_asc_disabled, table.table thead .sorting_desc_disabled {
                        cursor: pointer;
                        background: url('sort_asc.png') no-repeat center right;
                    }
                    .table thead th {
                        vertical-align: bottom;
                    }
                    .table-bordered th, .table-bordered td {
                        border-left: 1px solid #ddd;
                    }
                    .table th {
                        font-weight: bold;
                    }
                    .table th, .table td {
                        padding: 8px;
                        line-height: 20px;
                        text-align: left;
                        vertical-align: top;
                    }
                    thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
                        -webkit-border-top-right-radius: 4px;
                        border-top-right-radius: 4px;
                        -moz-border-radius-topright: 4px;
                    }
                    thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
                        -webkit-border-top-right-radius: 4px;
                        border-top-right-radius: 4px;
                        -moz-border-radius-topright: 4px;
                    }
                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;
                    }
                    thead {
                        display: table-header-group;
                        vertical-align: middle;
                        border-color: inherit;
                    }
                    tbody {
                        display: table-row-group;
                        vertical-align: middle;
                        border-color: inherit;
                    }
                    .table-bordered th, .table-bordered td {
                        border-left: 1px solid #ddd;
                    }
                    .table th, .table td {
                        padding: 8px;
                        line-height: 20px;
                        text-align: left;
                        vertical-align: top;
                        border-top: 1px solid #ddd;
                    }
th {
                        display: table-cell;
                        vertical-align: inherit;
                    }
                    table#example.table.table-striped.table-bordered.dataTable {

                        border-top: 1px solid #ddd;
                    }

                .table thead th {
                    vertical-align: bottom;
                }
                .table th {
                    font-weight: bold;
                }
                td, th {
                    display: table-cell;
                    vertical-align: inherit;
                }
                .table-bordered th, .table-bordered td {
                    border-left: 1px solid #ddd;
                }
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
background-color: #f9f9f9;
}
.table-bordered td {
    border-left: 1px solid #ddd;
}
table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}
.dataTables_wrapper .row {

}
.row:before, .row:after {
display: table;
line-height: 0;
content: "";
}

div.dataTables_info {
    padding-top: 8px;
}
div.dataTables_paginate {
    float: right;
    margin: 0;
}
.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul>li {
    display: inline;
}
.dataTables_wrapper .row {

}
.row-fluid [class*="span"] {
display: block;
float: left;
width: 100%;
min-height: 30px;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
div.dataTables_info {
padding-top: 8px;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.pagination ul {
display: inline-block;
margin-bottom: 0;
margin-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

ul, ol {
padding: 0;
margin: 0 0 10px 25px;
}
ul, menu, dir {
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
.pagination ul>li {
display: inline;
}
li {
    line-height: 20px;
}
li {
    text-align: -webkit-match-parent;
}

li, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.pagination ul>.active>a, .pagination ul>.active>span {
color: #999;
cursor: default;
}

li {
    line-height: 20px;
}
.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
color: #999;
cursor: default;
background-color: transparent;
}
.pagination ul>li>a, .pagination ul>li>span {
float: left;
padding: 4px 12px;
line-height: 20px;
text-decoration: none;
background-color: #2E3338;
border:1px solid #1C1E22;
border-left-width: 0;
color:rgb(200, 200, 200);
}
div.dataTables_paginate {
    float: right;
    margin: 0;
}
a {
color: #08c;
text-decoration: none;
}
a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
.pagination ul>li>a:hover, .pagination ul>li>a:focus, .pagination ul>.active>a, .pagination ul>.active>span {
background-color: #353A41;
}
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
}
.block {
    background: #353a41;
    border: 1px solid #232020;

border-top: none;
}




table#example.table.table-striped.table-bordered.dataTable {
    border-top: 1px solid #161515;
}

#edit_window
{
    background-color: #FF6D6D;
    border-radius:6px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    /*width:200px;
    height:100px;*/
    position:fixed;
    z-index:2000;
    left:25%;
    top:45%;
    visibility: hidden;
}
.ghj
{
    background:#1c1e22;
}

